# SPDX-FileCopyrightText: 2026 German Aerospace Center (DLR)
# SPDX-License-Identifier: CC0-1.0
#
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.py]
indent_size = 4

[*.ipynb]
indent_size = 4

[{.vscode,.devcontainer}/*.json]
indent_size = 4

[{Dockerfile,Dockerfile.*}]
indent_size = 4

[*.md]
indent_size = 4
max_line_length = off
trim_trailing_whitespace = false

[*.puml]
insert_final_newline = false

[Makefile]
indent_style = tab

[*.bat]
indent_style = tab
end_of_line = crlf

[/LICENSES/**]
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
